.blogHeader {
  text-decoration: underline;
}
.articleContainer {
  margin: 1rem;
  margin-left: 0rem;
}
.articleTitle {
  margin-bottom: 0.5rem;
  .articleDate {
    color: gray;
    font-size: smaller;
  }
}
.paginationContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 40%;
  margin: 0, auto;
}
.postCountSubheader {
  font-weight: 600;
}
